MYSQL_DATABASE=gestao_pedidos
MYSQL_USER=gestao_user
MYSQL_PASSWORD=troque_esta_senha
MYSQL_ROOT_PASSWORD=troque_esta_senha_root

APP_PORT=8080
JWT_SECRET=troque_por_um_segredo_forte
TZ=America/Sao_Paulo